@font-face {
    font-family: 'Atlantis';
    src: url('fonts/atlantisjs.eot?#iefix') format('embedded-opentype'), url('fonts/atlantisjs.svg') format('svg'), url('fonts/atlantisjs.woff') format('woff'), url('fonts/atlantisjs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
$primary-background-color: #222;
$secondary-background-color: #000;
$primary-font: Helvetica, sans-seriff;
$secondary-font: Arial;
$atlantis-font: Atlantis;
$skin-color: #cccccc;
$primary-font-size: 10px;

.atlantis-js{
    background-color: inherit;
    background: inherit;
    position:relative;
    padding:0;
    font-size:$primary-font-size;
    vertical-align: middle;
    font-weight:400;
    font-style:normal;
    font-family:$primary-font;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    
    .vjs-tech{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
    
    .vjs-text-track-display{
        text-align:center;
        position:absolute;
        bottom:15%;
        width:100%;
    }
}
.ajs-default-skin{
    color:$skin-color;
    
    .vjs-big-play-button{
        box-sizing:border-box;
        display:block;
        z-index:4;
        position:absolute;
        top:50%;
        left:50%;
        width:20%;
        height:30%;
        margin: -10%;
        text-align:center;
        vertical-align:center;
        cursor: pointer !important;
        border: 2px solid #EEE;
        border-radius: 100%;
        background-color: rgba(56,56,56,.75);
        box-shadow: 0 0 400px rgba(255,255,255,.8),0 0 300px rgba(255,255,255,.8),0 0 200px rgba(255,255,255,.8);
        transition: background .2s ease-in-out,color .2s ease-in-out,box-shadow .2s ease-in-out;
        
        &:focus{
            outline: 0;
            background-color: rgba(50,50,50,.7);
            box-shadow: 0 0 3em #fff;
            transition:all 0s;
        }
        span {
            position: absolute;
            top:50%;
            left:50%;
            display:block;
            width:35px;
            height:42px;
            margin:-30px 0 0 -22px;
            &:before{
                content: '\E006';
                font-family: Atlantis;
                font-size: 5.5em;
                color: #fff;
            }
        }
    }
    
    &.vjs-has-started .vjs-control-bar{
        display:block;
        visibility:visible;
        
    }
}

div.vjs-poster{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    position:absolute;
    top:0;
    left:0;
}

div.vjs-loading-spinner{
    display:none;
    position:absolute;
    top:50%;
    left:50%;
    font-size:5em;
    line-height:1;
    width: 10%;
    height:16%;
    margin-left: -5%;
    margin-top: -8%;
    opacity: .75;
    -webkit-animation: spin 1.5s infinite linear;
            animation: spin 1.5s infinite linear;
}